<h1>Welcome to Secret Santa!</h1>
<form action="/names" method="post">
  <label for ="name">
    Name
    <input type="text" name="name">
    <input type="submit" value="Submit"/>
</form>
    <form action="/names" method="post">
      <label for ="email">
        e-mail
        <input type="text" name="email">
        <input type="submit" value="Submit"/>
      </form>
